version: "3.0"
services:
  sunbird-janusgraph:
    image: janusgraph/janusgraph:latest
    container_name: "sunbird_janusgraph"
    ports:
      - 8182:8182
    volumes:
      - $sunbird_dbs_path/janusgraph/data:/var/lib/janusgraph/data
      - $sunbird_dbs_path/janusgraph/logs:/var/lib/janusgraph/logs
    environment:
      - janusgraph.storage.backend=cql
      - janusgraph.storage.hostname=sunbird-cassandra

  sunbird-cassandra:
    image: cassandra:3.11.11
    container_name: "sunbird_cassandra"
    ports:
      - 9042:9042
    depends_on:
      - sunbird-janusgraph
    volumes:
      - $sunbird_dbs_path/cassandra/data:/var/lib/cassandra
      - $sunbird_dbs_path/cassandra/logs:/opt/cassandra/logs
      - $sunbird_dbs_path/cassandra/backups:/mnt/backups

  sunbird-redis: 
    image: redis:6.0.8
    container_name: "sunbird_redis"
    ports:
      - 6379:6379
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
     - $sunbird_dbs_path/redis/redis.conf:/usr/local/etc/redis/redis.conf

  zookeeper:
    image: 'wurstmeister/zookeeper:latest'
    container_name: zookeeper
    ports:
      - "2181:2181"    
    environment:
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:2181     
    
  kafka:
    image: 'wurstmeister/kafka:2.12-2.5.1'
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181      
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper  