<configuration>
	<!-- transaction-event-trigger START -->
	<timestamp key="timestamp" datePattern="yyyy-MM-dd"/>
	<!-- common transactions logs -->
	<appender name="DEFAULT_LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/data/logs/learning_service_mw.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/data/logs/learning_service_mw_${timestamp}-%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>20</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_DEFAULT_LOGGER_HANDLER" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>1024</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<includeCallerData>true</includeCallerData>
		<appender-ref ref="DEFAULT_LOGGER" />
	</appender>
	<logger name="DefaultPlatformLogger" level="INFO" additivity="false">
		<appender-ref ref="ASYNC_DEFAULT_LOGGER_HANDLER"/>
	</logger>
	<!-- Telemetry Loggers-->
	<appender name="TELEMETRY_LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/data/logs/learning_telemetry_event_mw.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/data/logs/learning_telemetry_event_mw_${timestamp}-%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>20</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_TELEMETRY_HANDLER" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>1024</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<includeCallerData>true</includeCallerData>
		<appender-ref ref="TELEMETRY_LOGGER" />
	</appender>
	<logger name="TelemetryEventLogger" level="INFO" additivity="false">
		<appender-ref ref="ASYNC_TELEMETRY_HANDLER"/>
	</logger>

</configuration>