<configuration>

	<conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

	<!-- transaction-event-trigger START -->
	<timestamp key="timestamp" datePattern="yyyy-MM-dd"/>
	<!-- common transactions logs -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/data/logs/content-log-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>3MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="rollingFile" />
	</appender>


	<logger name="play" level="INFO" />
	<logger name="DefaultPlatformLogger" level="INFO" />
	<!-- Telemetry Loggers-->
	<logger name="TelemetryEventLogger" level="INFO" />

	<root level="INFO">
		<appender-ref ref="ASYNCSTDOUT" />
	</root>

</configuration>